body {
    background-color: #87cefa;
}
.tex {
    top: 10px;  
    position: absolute; /* Абсолютное позиционирование */
    left: 300px; /* Положение от левого края */
}
.text1 {
    width: 25px;
    height: 25px;
    border-color:  #008080;
}
.text2 {
    width: 25px;
    height: 25px;
    border-color:  #008080;
}
.button {
    
}